@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary-color: #1F4361;
    --border-color: #ccc;
}

*{
    color: var(--primary-color);
}


.header{
    border-bottom: 1px solid var(--border-color);
}

.box-container{
    width: 1240px;
    margin: auto;
}

.header__social-item{
    background-color: var(--primary-color);
}

.header-nav{
    a{
        transition: 0.3s all ease;

        &:hover{
            font-weight: 600;
        }
    }
}